<div
  class="container"
  [ngClass]="[
    cheap != expensive && item.price == cheap ? 'cheap-border' : '',
    cheap != expensive && item.price == expensive ? 'expensive-border' : ''
  ]"
>
  <div class="picture-box">
    <img
      [src]="item.pictures[0]"
      alt="Missing picture"
      (click)="showDetails()"
    />
  </div>
  <div>
    <div>{{ item.name | uppercase }}</div>
    <div>{{ item.cuisine | lowercase }}</div>
  </div>
  <div *ngIf="user == authState.Stranger"></div>
  <div *ngIf="user == authState.Stranger"></div>
  <div *ngIf="currency == 'dolar'">Cena: {{ item.price | currency }}</div>
  <div *ngIf="currency == 'euro'">
    Cena: {{ item.price * 0.89 | currency: "EUR" }}
  </div>
  <div class="buttons" *ngIf="user != authState.Stranger">
    <button
      (click)="addToCart()"
      [style.visibility]="count != item.maximum_per_day ? 'visible' : 'hidden'"
    >
      +
    </button>
    <button
      (click)="removeFromCart()"
      [style.visibility]="count != 0 ? 'visible' : 'hidden'"
    >
      -
    </button>
    <!-- <button (click)="removeFromMenu()">usuń</button> -->
  </div>
  <div [hidden]="item.maximum_per_day != 0">Produkt chwilowo niedostępny</div>
  <div
    class="counter"
    [hidden]="item.maximum_per_day == 0 || this.user == authState.Stranger"
    [ngClass]="{
      'orange-border': item.maximum_per_day! - count! < 3,
      'red-border': item.maximum_per_day == count && count != 0
    }"
  >
    {{ count }}
  </div>
</div>
