<h1>Restauracja</h1>
<nav>
  <a [routerLink]="['home']">Strona główna</a>
  <a [routerLink]="['menu']">Menu</a>
  <a
    [routerLink]="['dishes-manager']"
    *ngIf="userState == authState.Manager || userState == authState.Admin"
    >Zarządzanie menu</a
  >
  <a [routerLink]="['cart']" *ngIf="userState != authState.Stranger">Koszyk</a>
  <a [routerLink]="['account']" *ngIf="userState == authState.Stranger"
    >Logowanie/Rejestracja</a
  >
  <a [routerLink]="['admin-view']" *ngIf="userState == authState.Admin"
    >Panel Administracyjny</a
  >
  <div *ngIf="userState != authState.Stranger" (click)="logOut()">
    ({{info.role | lowercase}}: {{info.email}})
    Wyloguj się
  </div>
</nav>
<div class="container">
  <div *ngIf="this.currentUrl.includes('menu')" class="currency">
    <div>Waluta:</div>
    <input
      type="radio"
      name="currency"
      value="dolar"
      id="dolar"
      (change)="dolarSelected()"
      checked
    />
    <label for="dolar">Dolar</label>
    <input
      type="radio"
      name="currency"
      value="euro"
      id="euro"
      (click)="euroSelected()"
    />
    <label for="euro">Euro</label>
  </div>
  <router-outlet></router-outlet>
</div>
