<form [formGroup]="dishForm" (ngSubmit)="onSubmit()">
  <h3>Dodaj nowe danie</h3>
  <div>
    <label for="name">Nazwa:</label>
    <input type="text" id="name" formControlName="name" />
  </div>
  <div>
    <label for="cusine">Kuchnia:</label>
    <input type="text" id="cusine" formControlName="cusine" />
  </div>
  <div>
    <label for="max-per-day">Max per day</label>
    <input type="number" id="max-per-day" formControlName="maximum_per_day" />
  </div>
  <div>
    <label for="price">Cena: ($)</label>
    <input type="number" id="price" formControlName="price" />
  </div>
  <div class="submit-div">
    <button type="submit" [disabled]="!dishForm.valid">Dodaj</button>
  </div>
</form>
