<main>
  <div class="ads">
    <div>
      <div class="label">Nagradzany szef kuchni</div>
      <img src="assets/home/chef.jpg" alt="" />
    </div>
    <div>
      <img src="assets/home/ingredients.jpg" alt="" />
      <div class="label">Najlepszej jakości składniki</div>
    </div>
    <div>
      <div class="label">Wiele kuchni świata</div>
      <img src="assets/home/diversity.jpg" alt="" />
    </div>
    <div>
      <img src="assets/home/location.jpg" alt="" />
      <div class="label">Dobra lokalizacja</div>
    </div>
  </div>
  <div class="contact">
    <div class="adress">
      <h3>Kontakt</h3>
      Telefon: 846 323 456 <br>
      Adress: Rynek Główny 39, 31-010 <br>
      Kraków
    </div>
    <img src="assets/home/map.png" alt="">
  </div>
</main>
