<main>
  <div class="ads">
    <div>
      <div class="label">Nagradzany szef kuchni</div>
      <img src="https://i.ibb.co/3dNsrHK/chef.jpg" alt="" />
    </div>
    <div>
      <img src="https://i.ibb.co/Jz3NhKt/ingredients.jpg" alt="" />
      <div class="label">Najlepszej jakości składniki</div>
    </div>
    <div>
      <div class="label">Wiele kuchni świata</div>
      <img src="https://i.ibb.co/7g7kRq9/diversity.jpg" alt="" />
    </div>
    <div>
      <img src="https://i.ibb.co/1bxs0pM/location.jpg" alt="" />
      <div class="label">Dobra lokalizacja</div>
    </div>
  </div>
  <div class="contact">
    <div class="adress">
      <h3>Kontakt</h3>
      Telefon: 846 323 456 <br>
      Adress: Rynek Główny 39, 31-010 <br>
      Kraków
    </div>
    <img src="https://i.ibb.co/48V60v9/map.png" alt="">
  </div>
</main>
