<!-- <div>
  <label for="size">Page size</label>
  <select (change)="onPageSizeChange($event)">
    <option *ngFor="let i of sizes">{{ i }}</option>
  </select>
</div> -->
<div [hidden]="this.dishes.length == 0">
  <app-item
    *ngFor="let dish of dishes"
    [item]="dish"
    [expensive]="most_expensive_price"
    [cheap]="cheapest_price"
  ></app-item>
</div>
<!-- warunek poniżej będzie do zmiany po dodaniu filtrowania -->
<div [hidden]="this.dishes.length != 0">Brak pozycji do wyświetlenia. :c</div>
